<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="firebase/auth/sign-in"
			></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="user-content">
	<ion-row>
		<ion-col class="ion-no-padding">
			<!-- No image yet -->
			<app-image-shell
				class="user-image add-overlay"
				[display]="'cover'"
				animation="spinner"
				[src]=""
				[alt]="'item image'"
			>
				<app-aspect-ratio [ratio]="{w:1, h:1}"> </app-aspect-ratio>
			</app-image-shell>
		</ion-col>
	</ion-row>

	<ion-row class="user-details">
		<ion-col class="ion-no-padding details-wrapper">
			<h2 class="user-name">
				<app-text-shell
					[data]="user?.name ? user?.name + ' ' + user?.lastName : null"
				></app-text-shell>
			</h2>
			<span class="user-role">
				<app-text-shell
					[data]="user?.dob ? getUserDOB() : null"
				></app-text-shell>
			</span>
			<p class="user-description">
				<app-text-shell
					lines="3"
					[data]="user?.id && user?.sex ? 'CI: ' + user?.id + ' | ' + (user?.sex == 'male' ? ('fields.MALE' | translate) : ('fields.FEMALE' | translate)) : null"
				></app-text-shell>
			</p>
		</ion-col>
	</ion-row>

	<ion-row class="user-preferences-wrapper">
		<ion-col size="12">
			<h4 class="preference-name">{{ 'fields.PASSPORT' | translate }}</h4>
			<p class="preference-value">
				<app-text-shell [data]="user?.passport"></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<h4 class="preference-name">
				{{ 'fields.NATIONALITY' | translate }}
			</h4>
			<p class="preference-value">
				<app-text-shell [data]="user?.nationality"></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<h4 class="preference-name">{{ 'fields.ADDRESS' | translate }}</h4>
			<p class="preference-value">
				<app-text-shell [data]="user?.address"></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<h4 class="preference-name">
				{{ 'fields.PROFESSION' | translate }}
			</h4>
			<p class="preference-value">
				<app-text-shell [data]="user?.profession"></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<h4 class="preference-name">
				{{ 'fields.COUNTRY_OF_ORIGIN' | translate }}
			</h4>
			<p class="preference-value">
				<app-text-shell [data]="user?.countryOfOrigin"></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<h4 class="preference-name">
				{{ 'fields.COUNTRY_OF_RESIDENCE' | translate }}
			</h4>
			<p class="preference-value">
				<app-text-shell
					[data]="user?.countryOfResidence"
				></app-text-shell>
			</p>
		</ion-col>
		<ion-col size="12">
			<ion-button
				class="sign-out-btn"
				expand="block"
				fill="outline"
				color="bright-blue"
				(click)="signOut()"
				>Sign out</ion-button
			>
		</ion-col>
	</ion-row>
</ion-content>
