ion-item ion-label {
	font-size: 0.8em;
	white-space: normal;
}

.item-state {
	text-transform: capitalize;
	font-size: 1em !important;
}

.item-destinations {
	margin-bottom: 10px;
	font-size: 1.05em !important;
}

.item-destinations-icon {
	display: inline-block;
	vertical-align: middle;
}

.origin-flag {
	margin-left: 5px;
}

.destination-flag {
	margin-top: 15px;
	margin-left: -12px;
}

.flag-row {
	height: 100%;
}

.flag-col,
.state-col {
	padding: 0;
}

ion-chip {
	height: 20px;
}

.item-option-icon {
	width: 70px;
	font-size: 2em;
}

.hidden-add-button {
	font-size: 3em;
}

.hidden-default-filter-button {
	margin-top: 50px;
}
