<ion-header>
	<ion-toolbar>
		<ion-title>{{ 'trips.DETAIL' | translate }}</ion-title>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="/trips"
				[text]="'menu.BACK' | translate"
			></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button
				type="submit"
				(click)="doEditTax(trip?.id)"
				[disabled]="trip?.state === states.CANCELADO || trip?.state === states.FINALIZADO"
				><ion-icon slot="icon-only" name="create-outline"></ion-icon
			></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header
			style="font-size: 1.5em; padding-left: 7px; margin-bottom: 10px"
			>{{ 'tax.TOTAL' | translate: { total: getTotal() }
			}}</ion-list-header
		>
		<div *ngIf="getTax() > 0; else excempt">
			<h4 style="padding-left: 7px" *ngIf="getTotal() < 2000; else over">
				{{ 'tax.CALCULATED_TAX' | translate: { tax: getTax() } }}
			</h4>
			<ng-template #over>
				<p style="padding-left: 7px; text-align: center">
					{{ 'tax.OVER_2000' | translate }}
				</p>
			</ng-template>
		</div>
		<ng-template #excempt>
			<h4 style="padding-left: 7px">{{ 'tax.EXEMPT' | translate }}</h4>
		</ng-template>
		<ng-container *ngIf="isLoading else taxDetail">
			<ion-item *ngFor="let n of getTaxLength()" class="ion-no-padding">
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-label
								><ion-skeleton-text
									animated
									style="width: 50%"
								></ion-skeleton-text
							></ion-label>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-label
								><ion-skeleton-text animated></ion-skeleton-text
							></ion-label>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ng-container>
	</ion-list>
	<ng-template #taxDetail>
		<ion-item class="ion-no-padding" *ngIf="taxCash > 0">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-label class="field-name"
							>{{ 'tax.CASH' | translate }}</ion-label
						>
					</ion-col>
				</ion-row>
				<ion-row class="field-content">
					<ion-col>
						<ion-label>
							{{ 'tax.TOTAL' | translate: { total: taxCash } }}
						</ion-label>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ng-container *ngFor="let detail of taxDetails | keyvalue; index as i">
			<ion-item class="ion-no-padding" *ngIf="hasValue(detail.value)">
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-label class="field-name"
								>{{ 'tax.TAX_OPTION.' + detail.key | translate
								}}</ion-label
							>
						</ion-col>
					</ion-row>
					<ion-row class="field-content">
						<ion-col>
							<ion-label>
								{{ 'tax.DETAIL_ITEM' | translate: { quantity:
								detail?.value.quantity, price:
								detail?.value.price } }}
							</ion-label>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ng-container>
	</ng-template>
	<ion-row>
		<ion-col size="12">
			<ion-button
				class="sign-out-btn"
				expand="block"
				fill="solid"
				color="danger"
				(click)="deleteTaxDeclaration()"
			>
				<ion-icon slot="start" name="trash-outline"></ion-icon>
				{{ 'tax.DELETE' | translate }}</ion-button
			>
		</ion-col>
	</ion-row>
</ion-content>
