<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="signup-content">
	<h2 class="auth-title">{{ 'signUp.ACC_CREATE' | translate }}</h2>
	<form [formGroup]="signupForm" (ngSubmit)="signUpWithEmail()">
		<ion-list class="inputs-list" lines="full">
			<ion-item class="input-item">
				<ion-label position="floating"
					>{{ 'fields.EMAIL' | translate }}</ion-label
				>
				<ion-input
					type="email"
					formControlName="email"
					clearInput
					autocapitalize="off"
					inputmode="email"
				></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container
					*ngFor="let validation of validation_messages.email"
				>
					<div
						class="error-message"
						*ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)"
					>
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>

			<div formGroupName="matching_passwords">
				<ion-item class="input-item">
					<ion-label position="floating"
						>{{ 'fields.PW' | translate }}</ion-label
					>
					<app-show-hide-password>
						<ion-input
							type="password"
							formControlName="password"
						></ion-input>
					</app-show-hide-password>
				</ion-item>
				<div class="error-container">
					<ng-container
						*ngFor="let validation of validation_messages.password"
					>
						<div
							class="error-message"
							*ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)"
						>
							<ion-icon
								name="information-circle-outline"
							></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>

				<ion-item class="input-item">
					<ion-label position="floating"
						>{{ 'fields.CONFIRM_PW' | translate }}</ion-label
					>
					<app-show-hide-password>
						<ion-input
							type="password"
							formControlName="confirm_password"
						></ion-input>
					</app-show-hide-password>
				</ion-item>
				<div class="error-container">
					<ng-container
						*ngFor="let validation of validation_messages.confirm_password"
					>
						<div
							class="error-message"
							*ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)"
						>
							<ion-icon
								name="information-circle-outline"
							></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="error-container">
				<ng-container
					*ngFor="let validation of validation_messages.matching_passwords"
				>
					<div
						class="error-message"
						*ngIf="signupForm.get('matching_passwords').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)"
					>
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
		</ion-list>

		<ion-button
			class="signup-btn"
			type="submit"
			expand="block"
			[disabled]="!signupForm.valid"
			>{{ 'signUp.SIGN_UP' | translate }}</ion-button
		>
		<div class="error-container" *ngIf="submitError">
			<div class="error-message">
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ submitError }}</span>
			</div>
		</div>
		<ion-row class="other-auth-options-row">
			<ion-button
				class="login-btn"
				fill="clear"
				[routerLink]="['/auth/login']"
			>
				{{ 'signUp.ALREADY_ACC' | translate }}
			</ion-button>
		</ion-row>
	</form>
	<div class="legal-stuff">
		{{ 'signUp.LEGAL_1' | translate }}
		<a class="legal-action" (click)="showPrivacyModal()"
			>{{ 'signUp.LEGAL_2' | translate }}</a
		>
		{{ 'AND' | translate }}
		<a class="legal-action" (click)="showTermsModal()"
			>{{ 'signUp.LEGAL_3' | translate }}</a
		>.
	</div>
</ion-content>
