ion-title {
	font-weight: 400;
	letter-spacing: 0.4px;
}

ion-button {
	text-transform: none;
}

form ion-label {
	color: #a0a0a0 !important;
}

ion-radio-group ion-label {
	color: var(--ion-color-dark) !important;
}
