<ion-header>
	<ion-toolbar>
		<ion-title>{{ "profile.CHANGE_PW" | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="onCancel()"
				><ion-icon slot="icon-only" name="close-outline"></ion-icon
			></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content class="ion-margin-horizontal">
			<ion-text class="ion-text-center">
				<ion-label>{{ "profile.CHANGE_PW_MSG" | translate }}</ion-label>
			</ion-text>
			<ion-button
				class="ion-margin-top"
				expand="block"
				fill="solid"
				color="primary"
				(click)="onChangePassword()"
			>
				{{ "profile.CHANGE_PW" | translate }}</ion-button
			>
		</ion-card-content>
	</ion-card>
</ion-content>
