<ion-header>
	<ion-toolbar>
		<ion-title>{{ "profile.DELETE" | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="onCancel()"
				><ion-icon slot="icon-only" name="close-outline"></ion-icon
			></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="delete-content">
	<ion-text color="danger" class="ion-text-center">
		<h2>{{ "profile.DELETE_WARNING" | translate }}</h2>
	</ion-text>
	<ion-text color="danger" class="ion-text-center">
		<ion-label>{{ "profile.DELETE_MSG" | translate }}</ion-label>
	</ion-text>
	<form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
		<ion-list class="inputs-list" lines="full">
			<ion-item class="input-item">
				<app-show-hide-password>
					<ion-input
						type="password"
						[placeholder]="'fields.CURRENT_PW' | translate"
						formControlName="currentPassword"
					></ion-input>
				</app-show-hide-password>
			</ion-item>
			<div class="error-container">
				<ng-container
					*ngFor="
						let validation of validation_messages.currentPassword
					"
				>
					<div
						class="error-message"
						*ngIf="
							deleteForm
								.get('currentPassword')
								.hasError(validation.type) &&
							(deleteForm.get('currentPassword').dirty ||
								deleteForm.get('currentPassword').touched)
						"
					>
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
		</ion-list>
		<ion-button
			class="ion-margin-top"
			expand="block"
			fill="solid"
			color="danger"
			[disabled]="!deleteForm.valid"
			type="submit"
		>
			<ion-icon slot="start" name="trash-outline"></ion-icon>
			{{ "profile.DELETE" | translate }}</ion-button
		>
	</form>
</ion-content>
